@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 1;
}

/* HTML AND BODY STYLES */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

/* STYLING FOR ALL ANCHOR TAGS */
a {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: inherit;
  text-decoration: none;
}

/* CUSTOM SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 8px; 
}

/* SCROLLBAR TRACK STYLE */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* SCROLLBAR HANDLE STYLE */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 2px; 
}

/* SCROLLBAR HANDLE HOVER STYLE */
::-webkit-scrollbar-thumb:hover {
  background: #757575; 
}

/* IMAGE SELECTION DISABLED */
img {
  user-select: none;
  -webkit-user-drag: none;
}

/* KEYFRAMES FOR TWINKLE EFFECT */
@keyframes twinkle {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* BACKGROUND STYLING FOR STARRY EFFECT */
.starry-background {
  background: rgb(255, 252, 252);
  position: relative;
  overflow: hidden;
}

/* STYLING FOR INDIVIDUAL STARS */
.star {
  position: absolute;
  background-color: #c3c393; 
  width: 1px; 
  height: 17px; 
  border-radius: 50%;
  box-shadow: #e0dbbe 0 0 3px;
  animation: twinkle 2s infinite ease-in-out;
}

/* RED SHADOW */
.shadow-red {
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
}

/* BLUE SHADOW */
.shadow-blue {
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1);
}

/* GREEN SHADOW */
.shadow-green {
  box-shadow: 0 4px 6px rgba(0, 255, 0, 0.1);
}

/* YELLOW SHADOW */
.shadow-yellow {
  box-shadow: 0 4px 6px rgba(255, 255, 0, 0.1);
}

/* PURPLE SHADOW */
.shadow-purple {
  box-shadow: 0 4px 6px rgba(128, 0, 128, 0.1);
}

/* ORANGE SHADOW */
.shadow-orange {
  box-shadow: 0 4px 6px rgba(255, 165, 0, 0.1);
}

/* PINK SHADOW */
.shadow-pink {
  box-shadow: 0 4px 6px rgba(255, 105, 180, 0.1);
}

/* TEAL SHADOW */
.shadow-teal {
  box-shadow: 0 4px 6px rgba(0, 128, 128, 0.1);
}

/* BROWN SHADOW */
.shadow-brown {
  box-shadow: 0 4px 6px rgba(139, 69, 19, 0.1);
}

/* GRAY SHADOW */
.shadow-gray {
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.1);
}

/* CYAN SHADOW */
.shadow-cyan {
  box-shadow: 0 4px 6px rgba(0, 255, 255, 0.1);
}

/* MAGENTA SHADOW */
.shadow-magenta {
  box-shadow: 0 4px 6px rgba(255, 0, 255, 0.1);
}

/* LIME SHADOW */
.shadow-lime {
  box-shadow: 0 4px 6px rgba(50, 205, 50, 0.1);
}

/* GOLD SHADOW */
.shadow-gold {
  box-shadow: 0 4px 6px rgba(255, 215, 0, 0.1);
}

/* SILVER SHADOW */
.shadow-silver {
  box-shadow: 0 4px 6px rgba(192, 192, 192, 0.1);
}

/* INDIGO SHADOW */
.shadow-indigo {
  box-shadow: 0 4px 6px rgba(75, 0, 130, 0.1);
}

/* OLIVE SHADOW */
.shadow-olive {
  box-shadow: 0 4px 6px rgba(128, 128, 0, 0.1);
}

/* SALMON SHADOW */
.shadow-salmon {
  box-shadow: 0 4px 6px rgba(250, 128, 114, 0.1);
}

/* BORDER COLORS */

/* BORDER BOTTOM RED */
.border-bottom-red {
  border-bottom: 5px solid red;
  margin-top: 6px;
  margin-bottom: 2px;
}

/* BORDER BOTTOM GREEN */
.border-bottom-green {
  border-bottom: 5px solid rgb(10, 154, 48);
  margin-top: 6px;
  margin-bottom: 2px;
}

/* BORDER BOTTOM PURPLE */
.border-bottom-purple {
  border-bottom: 5px solid purple;
  margin-top: 6px;
  margin-bottom: 2px;
}

/* BORDER BOTTOM BLUE */
.border-bottom-blue {
  border-bottom: 5px solid blue;
  margin-top: 6px;
  margin-bottom: 2px;
}

/* BORDER BOTTOM PINK */
.border-bottom-pink {
  border-bottom: 5px solid pink;
  margin-top: 6px;
  margin-bottom: 2px;
}

/* BORDER BOTTOM GRAY */
.border-bottom-gray {
  border-bottom: 5px solid gray;
  margin-top: 6px;
  margin-bottom: 2px;
}

/* BORDER BOTTOM ORANGE */
.border-bottom-orange {
  border-bottom: 5px solid orange;
  margin-top: 6px;
  margin-bottom: 2px;
}

/* BORDER BOTTOM YELLOW */
.border-bottom-yellow {
  border-bottom: 5px solid yellow;
  margin-top: 6px;
  margin-bottom: 2px;
}

/* CATEGORY CAROUSEL STYLES */
.category-carousel {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 20px; 
}

/* INDIVIDUAL CATEGORY CARD STYLES */
.category-card {
  flex: 0 0 calc(40.33% - 40px); 
  padding: 40px; 
  background-color: #ffffff;
}

/* CATEGORY DESCRIPTION STYLING */
.category-description {
  font-size: 20px; 
}

/* STYLES FOR CATEGORY ICON WITHIN CATEGORY CARD */
.category-card .category-icon {
  width: 50px;
  height: 50px;
  background-color: #f1e8e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
}

/* STYLES FOR SPANS WITHIN CATEGORY CARD */
.category-card span {
  color: #333; 
  margin-top: 10px; 
  margin-left: 5px;
}

/* STYLES FOR ACTIVE CATEGORY CARD */
.category-card.active {
  display: flex;
  transform: scale(1); 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* STYLES FOR LAST CATEGORY CARD */
.category-card:last-child {
  margin-right: 2px;
}

/* NEXT BUTTON STYLES */
#nextButton {
  background-color: #35383c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* NEXT BUTTON HOVER EFFECT */
#nextButton:hover {
  background-color: #050505;
}

/* Container for the category cards */
.custom-category-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

/* Style for individual category cards */
.custom-category-card {
  flex: 1 0 auto; 
  max-width: 100%; 
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  box-sizing: border-box; 
}

.custom-category-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.custom-category-title {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.custom-category-description {
  display: none;
  font-size: 17px;
  color: #666;
}

.custom-category-card:hover .custom-category-description {
  display: block;
}

.cat-title {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.cat-de {
  display: none;
  font-size: 17px;
  color: #666;
}

.cat-car {
  flex: 0 0 calc(33.33% - 2px); 
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cat-car:hover .cat-de {
  display: block;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .category-carousel {
    flex-wrap: wrap; 
    width: 100%;
  }

  .category-card {
    flex: 0 0 calc(100% - 100px);
  }
  
  .category-description {
    flex: 0 0 100%; 
  }

  /* Add a media query for screens under 1000px */
  @media (max-width: 1000px) {
    .grid-cols-1 {
      grid-template-columns: 1fr;
    }
  }

  .text-2xl {
    font-size: 1.5rem; 
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, 1fr); 
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, 1fr); 
  }

  .lg\:text-5xl {
    font-size: 3rem; 
  }
}

/* Media query for medium screens */
@media (min-width: 600px) {
  .custom-category-card {
    max-width: calc(50% - 22px); 
  }
}

/* Media query for larger screens */
@media (min-width: 1000px) {
  .custom-category-card {
    flex-basis: calc(25% - 22px); 
    max-width: calc(25% - 22px); 
  }
}
